.user__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.user__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user__tasks {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user__noTasks {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.user__task {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  gap: 10px;
  align-items: baseline;
}

.user__taskCheckbox {
  height: 13px;
  width: 10px;
  display: flex;
  justify-content: flex-start;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  accent-color: #007bff;
}

input[type="checkbox"]:checked {
  accent-color: #ff6f00;
  background-color: #4caf50;
}

.user__task h2 {
  font-size: 18px;
  font-weight: bold;
}

.user__task p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.user__task--completed {
  background-color: #e1d6ce;
  border-color: #ff6f00;
}

.user__task--completed .task__title,
.user__task--completed .task__description,
.user__task--completed .task__dateStart {
  color: #999;
  text-decoration: line-through;
}
