.header__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__title {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}

.header__title span {
  color: #ff6f00;
}

.header__subtitle {
  font-size: 15px;
  color: #666666;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #dddddd;
  padding: 0.3rem 1rem;
  border-radius: 10px;
}

.header__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__name {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}
