.footer__todo {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: gray;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer__title {
  font-weight: 600;
}

.footer__title span {
  color: #ff6f00;
}

.separetor {
  width: 80%;
  height: 1px;
  background-color: #dddddd;
}

.footer__copy {
  font-size: 14px;
  padding-top: 12px;
}
