.formTarefa__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  height: 614px;
}

.form__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__title label {
  font-size: 1.2rem;
  font-weight: bold;
}

.form__title input {
  padding: 0.5rem;
  padding-left: 12px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 15px;
}

.form__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__description label {
  font-size: 1.2rem;
  font-weight: bold;
}

.form__description textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
  height: 128px;
  width: 100%;
  font-size: 15px;
  padding-left: 12px;
}

.form__data {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0 30px;
}

.form__dateStart,
.form__dateEnd {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__dateStart label,
.form__dateEnd label {
  font-size: 1.2rem;
  font-weight: bold;
}

.form__dateStart input,
.form__dateEnd input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.form__time {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__time label {
  font-size: 1.2rem;
  font-weight: bold;
}

.form__time input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.form__time input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.btn__newTask {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ff6f00;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn__newTask:hover {
  background-color: gray;
}
